

.grid {
	width: 90%;
            outline-style: solid;
            outline-width: 3px;
            outline-color: black;
            border-radius: 2%;
            margin-right: auto;
            margin-left: auto;
            margin-top: 2%;
			overflow-y:hidden;
            z-index: 3;
            display: grid;
            grid-template-columns: 1fr 1fr;
resize: horizontal;
			background:linear-gradient(#000,#000) center/2px 100% no-repeat;
}

.summaryDisplay 
{
	width: 90%;
	outline-style: solid;
	outline-width: 3px;
	outline-color: black;
	border-radius: 2%;
	margin-right: auto;
	margin-left: auto;
	
	overflow-y:hidden;
	
	z-index: 3;
	display: block;
	font-size: 2.5vh;
	font-family: Helvetica;
	padding: 10px;
	text-align:left;
	background-color:white;
}

.summaryDisplay:hover 
{

	background-color:lightgray
}

.selectionBox 
{
	margin-top: 25%;
	margin-bottom: 20%;
	text-align:center;
	overflow-y:hidden;
}

.selectGreen, .selectYellow, .selectRed
{
	width: 30%;
	height:40px;
	font-size: 3vh;
	font-family: Helvetica;
	
}

.selectGreen 
{
	background-color: rgb(2, 201, 2);
}

.selectYellow 
{
	background-color: yellow;
}

.selectRed 
{
	background-color: rgb(241, 64, 37);
}

.selectGreen:hover
{
	background-color: rgb(1, 156, 1);
}

.selectYellow:hover
{
	background-color: rgb(181, 181, 2);
}

.selectRed:hover
{
	background-color: rgb(184, 34, 11);
}

.article 
{
	margin-top: 10%;
	margin-bottom: 10%;
	display: block;
	font-size: 2vh;
	font-family: Helvetica;
	padding: 5%;
	text-align: left;
}